<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BalsamiqWireframes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <enforceFIPSPolicy enabled="false"   />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.669" newVersion="2.0.2.669"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BalsamiqWireframes.Properties.Settings>
      <setting name="JVMOnSeparateThread" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="name" serializeAs="String">
        <value>Luca</value>
      </setting>
      <setting name="displayName" serializeAs="String">
        <value>Luca</value>
      </setting>
      <setting name="avatarURL" serializeAs="String">
        <value>https://en.gravatar.com/userimage/121044160/cc394f4981b54dce3128b1e5601da54d.jpg?size=200</value>
      </setting>
      <setting name="inProject" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ID" serializeAs="String">
        <value>luca</value>
      </setting>
      <setting name="FlushLogsImmediately" serializeAs="String">
        <value>True</value>
      </setting>
    </BalsamiqWireframes.Properties.Settings>
  </userSettings>
</configuration>
