<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="core_message" value="${replace-newlines:${message}}"/>
  
  <targets>
    <target name="debugger" xsi:type="Debugger" layout="${time} - ${logger} - ${level:uppercase=true}: ${message}"/>
  </targets>

  <rules>
    <!-- enable console logging from core -->
    <logger name="core" minlevel="Trace" writeTo="debugger"/>
    
    <!-- enables console logging from all subsystems -->
     <!--<logger name="*" minlevel="Trace" writeTo="debugger"/>-->
    
    <!-- Enabling console log of subsystems one by one -->
    <!--<logger name="ViewControllers" minlevel="Trace" writeTo="debugger" />
    <logger name="Views" minlevel="Trace" writeTo="debugger" />
    <logger name="Inspectors" minlevel="Trace" writeTo="debugger" />
    <logger name="Native" minlevel="Trace" writeTo="debugger" />-->
  </rules>
</nlog>
